.page__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    height: 100%;
    gap: 1rem;
    
    .content-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21.25rem, 1fr));
    }
}

@media screen and (min-width: 721px) {

    .page__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr 0.2fr;
        gap: 5rem 0rem;
        grid-template-areas:
            "Header"
            "Main"
            "Footer";



        padding: 0rem 3.5rem;
        justify-content: space-around;
        .container__nav {
            grid: Header;
        }
        .content-grid {
            grid-area: Main;
            display: grid;
            grid-template-columns: 40% 60%;
            justify-content: center;
            width: 80%;
            justify-self: center;
        }
        .container__footer {
            grid-area: Footer;
        }
    }

    .container__main {
        align-self: flex-end;
        justify-self: center;
        height: 100%;
        max-height: 36.658rem; 
        width: 100%;
        max-width: 51.32rem;

        .main__section-card {
            top: 480px;
        }
    }

    .container__header {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
    }

    .container__footer {
        margin-top: 2rem;
    }
}