.drop-dowm {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 40;
    background-color: var(--background);
    transition: all 300ms;

    .content-icon {
        position: absolute;
        top: 0px;
        right: 20px;
        cursor: pointer;
    }
    .ul-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .li-item {
            text-align: center;
            color: #FFF;
            font-family: var(--font-text);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            list-style: none;
        }
    }
}

.drop-dowm-open {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    background-color: var(--background);
    z-index: 40;
    right: 0;

    .content-icon {
            position: absolute;
            top: 0px;
            right: 20px;
            cursor: pointer;
        }
    
        .ul-content {
            display: flex;
            flex-direction: column;
            gap: 30px;
    
            .li-item {
                text-align: center;
                color: #FFF;
                font-family: var(--font-text);
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                list-style: none;

                cursor: pointer;
                
                &::after {
                    content: '';
                    width: 0%;
                    height: 4px;
                    background-color: #FFF;
                    position: absolute;
                    bottom: -30%;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.8s all;
                }
            
                &:hover::after {
                    width: 100%;
                }
            
                a {
                    text-decoration: none;
                    color: #FFF;
                }
            }
        }
}