.container__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url('assets/photo1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    transition: all 300ms;
    height: 17.459rem;
    .main__section-card {
        padding: 10px 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        min-width: 18.75rem;
        height: 8.625rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        top: 210px;
        right: 15px;
        left: auto;

        .card-header {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            .container-card-img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 100%;
                .card__img {
                    width: 62.195px;
                    height: 52.683px;
                    border-radius: 50%;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                p, span {
                    margin: 0;
                    padding: 0;
                    font-family: var(--font-text);
                }
                .info-span {
                    opacity: 0.5;
                }
            }
        }

        .card__h3 {
            font-family: var(--font-text);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

@media screen and (min-width: 580px) {
    .container__main {
        transition: all 300ms;
        height: 27rem;
    }
}

@media screen and (max-width: 435px) {
    .main__section-card {
        min-width: 8rem !important;
        width: 16rem;
    }
}