.container__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);

    .nav__button {
        background-color: var(--background);
        color: #FFF;
        padding: 6px;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-transform: uppercase;
        font-family: var(--font-button);
    }
}

